{% extends 'layout.html' %}

{% block title %}Access Logs{% endblock %}
{% block head %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Access Logs</h1>
        <table id="myTable" class="display" style="width:100%">
            
        </table>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
    <script>
        function getAccessLogs(config, value) {
            return new Promise(function(resolve, reject) {
                $.ajax({
                    type: "GET",
                    url: "/access_logs",
                    success: function (result) {
                        resolve(result);
                    },
                    error: function (result) {
                        reject(result);
                    }
                });
            })
        }
    </script>
    <script>
        $(document).ready(function() {
            getAccessLogs().then(function(data) {
                for (let i = 0; i < data.length; i++) {
                  data[i][1] = new Date(data[i][1]).toLocaleString(); // Unlock timestamp
                  data[i][7] = new Date(data[i][7]).toLocaleString(); // In/out timestamp
                }
                $('#myTable').DataTable( {
                    data: data,
                    columns: [
                    { title: "Unlock ID" },
                    { title: "Unlock Timestamp" },
                    { title: "Unlock Type" },
                    { title: "Unlock Status" },
                    { title: "User Name" },
                    { title: "Key Type" },
                    { title: "In/Out Timestamp" },
                    { title: "In/Out Type" },
                    { title: "Weight" },
                    { title: "Height" },
                    { title: "BMI" },
                    { title: "Remote Approval Timestamp" },
                    { title: "Remote Approval Status" },
                    { title: "Remote Approval User Name" }
                    ]
                });
            });
        });
    </script>
{% endblock %}