{% extends 'layout.html' %}

{% block title %}Access Logs{% endblock %}
{% block head %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Access Logs</h1>
        <table id="myTable" class="display" style="width:100%">
            
        </table>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
    <script>
        function getAccessLogs(config, value) {
            return new Promise(function(resolve, reject) {
                $.ajax({
                    type: "GET",
                    url: "/access_logs",
                    success: function (result) {
                        resolve(result);
                    },
                    error: function (result) {
                        reject(result);
                    }
                });
            })
        }
    </script>
    <script>
        $(document).ready(function() {
            getAccessLogs().then(function(data) {
            for (let i = 0; i < data.length; i++) {
              if (data[i]["unlock_timestamp"] != null) {
                  data[i]["unlock_timestamp"] = new Date(data[i]["unlock_timestamp"]).toLocaleString("en-CA");
              }
              if (data[i]["in_out_timestamp"] != null) {
                  data[i]["in_out_timestamp"] = new Date(data[i]["in_out_timestamp"]).toLocaleString("en-CA");
              }
              if (data[i]["remote_approval_timestamp"] != null) {
                  data[i]["remote_approval_timestamp"] = new Date(data[i]["remote_approval_timestamp"]).toLocaleString("en-CA");
              }
            }
                $('#myTable').DataTable({
                  data: data,
                  columns: [
                    { title: "Unlock ID", data: "unlock_id" },
                    { title: "Unlock Timestamp", data: "unlock_timestamp" },
                    { title: "Unlock Type", data: "unlock_type" },
                    { title: "Unlock Status", data: "unlock_status" },
                    { title: "User Name", data: "name" },
                    { title: "Key Type", data: "key_type" },
                    { title: "In/Out Timestamp", data: "in_out_timestamp" },
                    { title: "In/Out Type", data: "in_out_type" },
                    { title: "Weight (kg)", data: "weight" },
                    { title: "Height (cm)", data: "height" },
                    { title: "BMI", data: "bmi" },
                    { title: "Remote Approval Timestamp", data: "remote_approval_timestamp" },
                    { title: "Remote Approval Status", data: "remote_approval_status" },
                    { title: "Remote Approval User Name", data: "remote_approval_user_name" }
                  ]
                });

            });
        });
    </script>
{% endblock %}