{% extends 'layout.html' %}

{% block title %}Configurations{% endblock %}

{% block content %}
    <h1>Configurations</h1>
    <form action="/configs" method="post">
        {% for config in configs %}
            <div class="form-group">
                <label for="{{ config[0] }}">{{ config[0] }}</label>
                <input type="text" class="form-control" id="{{ config[0] }}" name="{{ config[0] }}" value="{{ config[1] }}">
            </div>
        {% endfor %}
    </form>
{% endblock %}