{% extends "layout.html" %}

{% block title %}Smart Secure Dashboard{% endblock %}

{% block content %}
<div class="container mt-4">
    <!-- Conditional row showing approve/reject -->
    <div class="row" id="approvalAlert" class="d-none">
        <div class="col-md-6">
            <div class="alert" role="alert">
                There is a approval request for the room.
                <!--Approve and reject button-->
                <button class="btn btn-success" id="approveButton">Approve</button>
                <button class="btn btn-danger" id="rejectButton">Reject</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h2>Number of persons in room: {{ num_people }}</h2>
            <h2>Status of alarm: <span id="alarm_status">{{ alarm_status }}</span></h2>
            {% if health_data is not none: %}
            <table class="table">
                <thead>
                  <tr>
                    <th>Recorded Data</th>
                    <th>vs</th>
                    <th>Scanned Data</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ recorded_data["weight"] }}</td>
                    <td>Weight</td>
                    <td>{{ health_data["weight"] }}</td>
                  </tr>
                  <tr>
                    <td>{{ recorded_data["height"] }}</td>
                    <td>Height</td>
                    <td>{{ health_data["height"] }}</td>
                  </tr>
                  <tr>
                    <td>{{ (recorded_data["weight"] / (recorded_data["height"]/100)**2)|round(2) }}</td>
                    <td>BMI</td>
                    <td>{{ health_data["bmi"] }}</td>
                  </tr>
                </tbody>
              </table> 
              {% if health_data["bmi"] < 18.5 %}
                 <div class="text-danger">You are underweight!</div>
              {% elif health_data["bmi"] >= 18.5 and health_data["bmi"] < 25 %}
                 <div class="text-success">You are healthy!</div>
              {% elif health_data["bmi"] >= 25 and health_data["bmi"] < 30 %}
                 <div class="text-danger">You are overweight!</div>
              {% else %}
                 <div class="text-danger">You are obese!</div>
              {% endif %}
            {% endif %}
            <button class="btn btn-danger" id="alarmButton">Trigger Alarm</button>
            {% if role == 'Admin' %}
              <button class="btn btn-success" id="unlockButton">Remote Unlock</button>
            {% endif %}
        </div>
    </div>
    <div>
      <canvas id="healthChart"></canvas>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='js/health_chart.js') }}"></script>
<script id="">
    let unlock_id;
    $(function () {
        $('#alarmButton').click(function () {
            $.ajax({
                type: "GET",
                url: '/alarm',
                success: function (data) {
                    $('#alarm_status').text(data);
                }
            });
        });
        setInterval(function () {
            $.ajax({
                url: '/approval',
                type: 'GET',
                success: function (data) {
                    if (data.status) {
                        if (unlock_id != data.unlock_id) {
                            unlock_id = data.unlock_id;
                            $('#approvalAlert').removeClass("d-none");
                            eval(data.script);
                        }
                    } else {
                        $('#approvalAlert').addClass("d-none");
                    }
                }
            });
        }, 1000);
    });
</script>
{% if role == 'Admin' %}
<script>
    $(function () {
        $('#unlockButton').click(function () {
            $.ajax({
                url: '/unlock',
                type: 'GET',
                success: function(data) {
                    console.log("Unlocked");
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });
    });
</script>
{% endif %}
{% endblock %}
