{% extends "layout.html" %}

{% block title %}Smart Secure Dashboard{% endblock %}

{% block content %}
<div class="container mt-4">
    <!-- Conditional row showing approve/reject -->
    {% if approval is not none: %}
    <div class="row" id="approvalAlert">
        <div class="col-md-6">
            <div class="alert" role="alert">
                There is a approval request for the room.
                <!--Approve and reject button-->
                <button class="btn btn-success" id="approveButton">Approve</button>
                <button class="btn btn-danger" id="rejectButton">Reject</button>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-6">
            <h2>Number of persons in room: {{ num_people }}</h2>
            <h2>Status of alarm: <div id="alarm_status">{{ alarm_status }}</div></h2>
            {% if health_data is not none: %}
              <h2>Height: {{ health_data['height'] }}, Weight: {{ health_data['weight'] }}, BMI: {{ health_data['bmi'] }}</h2>
            {% endif %}
            <button class="btn btn-danger" id="alarmButton">Trigger Alarm</button>
        </div>
    </div>
    <div>
      <canvas id="healthChart"></canvas>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='js/health_chart.js') }}"></script>
<script>
    $(function () {
        $('#alarmButton').click(function () {
            $.get('/alarm', function (data) {
                $('#alarm_status').text(data);
            });
        });
        $('#approveButton').click(function () {
            $.get('/approve/{{ approval[0] }}', function (data) {
                $('#approvalAlert').addClass("d-none");
            });
        });
        $('#rejectButton').click(function () {
            $.get('/reject/{{ approval[0] }}', function (data) {
                $('#approvalAlert').addClass("d-none");
            });
        });
    });
</script>
{% endblock %}
