{% extends "layout.html" %}

{% block title %}Smart Secure Dashboard{% endblock %}

{% block content %}
<div class="container mt-4">
    <!-- Conditional row showing approve/reject -->
    <div class="row" id="approvalAlert" class="d-none">
        <div class="col-md-6">
            <div class="alert" role="alert">
                There is a approval request for the room.
                <!--Approve and reject button-->
                <button class="btn btn-success" id="approveButton">Approve</button>
                <button class="btn btn-danger" id="rejectButton">Reject</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>Number of persons in room: {{ num_people }}</h2>
            <h2>Status of alarm: <div id="alarm_status">{{ alarm_status }}</div></h2>
            {% if health_data is not none: %}
              <h2>Height: {{ health_data['height'] }} cm, Weight: {{ health_data['weight'] }} kg, BMI: {{ health_data['bmi'] }}</h2>
            {% endif %}
              <button class="btn btn-danger" id="alarmButton">Trigger Alarm</button>
            {% if role == 'Admin' %}
              <button class="btn btn-success" id="unlockButton">Remote Unlock</button>
            {% endif %}
        </div>
    </div>
    <div>
      <canvas id="healthChart"></canvas>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='js/health_chart.js') }}"></script>
<script id="">
    let unlock_id;
    $(function () {
        setInterval(function () {
            $.get('/approval', function (data) {
                if (data.status) {
                    if (unlock_id != data.unlock_id) {
                        unlock_id = data.unlock_id;
                        $('#approvalAlert').removeClass("d-none");
                        eval(data.script);
                    }
                } else {
                    $('#approvalAlert').addClass("d-none");
                }
            });
        }, 1000);
    });
</script>
{% if role == 'Admin' %}
<script>
    $(function () {
        $('#unlockButton').click(function () {
            $.get('/unlock', function (data) {
                console.log("Unlocked");
            });
        });
    });
</script>
{% endif %}
{% endblock %}
